*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --moderate-violet: hsl(263, 55%, 52%);
    --grayish-blue: hsl(217, 19%, 35%);
    --blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: var(--light-grayish-blue);
}
img{
    border-radius: 50%;
    width: 35px;
}
.persona{
    display: flex;
    padding-bottom: 1em;
}
.name{
    padding-left: 20px;
    color: var(--light-grayish-blue);
}
span{
    color: var(--light-gray);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
}
.daniel{
    background: url("./images/bg-pattern-quotation.svg"), var(--moderate-violet);
    background-position: 140px top;
    background-repeat: no-repeat;
    background-size: 80px;
    border-radius: 5px;
    padding: 1.5em;
    width: 20em;
    
    line-height: 16px;
}
.story{
    color: var(--light-grayish-blue);
    font-size: .8rem;
    padding-bottom: 20px;
    font-weight: 600;
}
.review{
    color: var(--light-gray);
    font-size: .7rem;
    padding-bottom: .7rem;
    font-weight: 500;
}
.jonathan{
    background-color: var(--grayish-blue);
    border-radius: 5px;
    width: 20em;
    padding: 20px;
    margin-top: 10px;
    line-height: 16px;
}
.jeanette{
    background-color: var(--White);
    border-radius: 5px;
    width: 20em;
    margin-top: 10px;
    padding: 20px;
    line-height: 16px;
}
.jean-name{
    padding-left: 20px;
    color: var(--grayish-blue)
}
.jean-story{
    color: var(--grayish-blue);
    font-size: .8rem;
    padding-bottom: 20px;
    font-weight: 600;
}
.jean-review{
    color: var(--grayish-blue);
    font-size: .7rem;
    padding-bottom: .7rem;
    font-weight: 300;
}
.patrick{
    background-color: var(--blackish-blue);
    border-radius: 5px;
    width: 20em;
    margin-top: 10px;
    padding: 20px;
    line-height: 16px;
}
.kira{
    background-color: var(--White);
    border-radius: 5px;
    width: 20em;
    margin-top: 10px;
    padding: 20px;
    line-height: 16px;
    
}
.kira-name{
    padding-left: 20px;
    color: var(--grayish-blue)
}
.kira-story{
    color: var(--grayish-blue);
    font-size: .8rem;
    padding-bottom: 20px;
    font-weight: 600;
}
.kira-review{
    color: var(--grayish-blue);
    font-size: .7rem;
    padding-bottom: .7rem;
    font-weight: 300;
}

@media screen and (min-width: 600px) {
    main{
        display: grid;
        grid-template-areas: 'first first first first second fifth' 'first first first first second fifth' 'third third fourth fourth fourth fifth';
        font-size: 13px;
        width: 10em;
        margin: 80px;
        margin-top: 100px;
        gap: 10px;
        margin-left: 200px;
    }
    .daniel{grid-area: first; width: 52em; height: 230px; font-size: 10px; background-position: 250px top; line-height: 15px;}
    .jonathan{grid-area: second; width: 15em; height: 226px; line-height: 15px; margin-bottom: 10px;}
    .jeanette{grid-area: third; width: 13em; height: 220px; margin-bottom: 50px; font-size: 15px; line-height: 16px;}
    .patrick{grid-area: fourth; width: 40em; height: 221px; margin-bottom: 50px; line-height: 15px;}
    .kira{grid-area: fifth; width: 25em; height: 480px; font-size: 9px; line-height: 17px; margin-bottom: 50px; margin-left: 10px;}
    .story{
        font-size: 16px;
        
    }
    .review{
        font-size: 11px;
    }
    .jean-story{
        font-size: 17px;
    }
    .jean-name{
        font-size: 13px;
    }
    .kira-name{
        font-size: 13px;
    }
    .kira-story{
        font-size: 15px;
        line-height: 18px;
    }
    .kira-review{
        font-size: 12px;
    }
}
